body {
    background-color: rgb(66, 166, 248);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10pt;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    width: 500px;
}

div {
    padding: 10pt;
}
input#cxtxt {
    width: 150px;
    height: 100px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}
